GITHUB_TOKEN=
GITHUB_API_URL=https://api.github.com/graphql
GITHUB_REST_API_URL=https://api.github.com
GITHUB_PUBLIC_REPO_LIMIT=20
GITHUB_FETCH_COMMIT_COUNTS=false
GITHUB_CACHE_TTL_SECONDS=900
LANGSMITH_API_KEY=
APP_HOST=0.0.0.0
APP_PORT=8000
CORS_ORIGINS=http://localhost:5500,http://127.0.0.1:5500,http://localhost:8000,http://127.0.0.1:8000
SCORING_BACKEND=heuristic

OLLAMA_API_KEY=99c124d0278f4430be7f06078a7b5214.hk_pRn4a5VwHBJiSlsPOF_3a
OLLAMA_BASE_URL=https://ollama.com